<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">     
	<title>RouteAtlas Klingon Panel</title>
	<meta name="description" content="Descubre la mejor manera de llegar">
	<meta name="author" content="RouteAtlas">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" /> <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" /> <!-- CSS -->
    <!--<script src="{% static "js/jquery.js" %}"></script> --> <!-- JavaScript -->
    <!--
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="css/style.css" />
    -->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
</head>
<body>
    <div class="container">
        
        <div class="page-header">            
            <div class="row">
                <div class="col-md-8">
                    <h1>Klingon Panel</h1>
                    <p class="lead">Translation panel.</p>
                </div>
                <div class="col-md-4">
                    <p class="text-right"> Language: 
                    <select class="" id="lang">
                        <option value="es"> Spanish </option>
                        <option value="pt"}> Portuguese </option>
                    </select>
                    </p>
                </div>
            </div>            
        </div>
      
        <ul class="breadcrumb">
            <li class="active">Traslation</li>
        </ul>
        
        <div id="content">  
            <!-- Cities -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6"><strong>Cities</strong></div>
                        <div class="col-md-2"><strong>Unfinished</strong></div>
                        <div class="col-md-2"><strong>Finished</strong></div>
                        <div class="col-md-2"><strong>All</strong></div>
                    </div>
                    <div class="row" id="cities_results">
                        <div class="col-md-6"><a href="/{{ lang }}/cities" class="">Description</a></div>
                        <div class="col-md-2">1</div>
                        <div class="col-md-2">2</div>
                        <div class="col-md-2">3</div>
                    </div>
                </div>    
            </div>

            <!-- Terminals -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6"><strong>Terminals</strong></div>
                        <div class="col-md-2"><strong>Unfinished</strong></div>
                        <div class="col-md-2"><strong>Finished</strong></div>
                        <div class="col-md-2"><strong>All</strong></div>
                    </div>
                    <div class="row" id="terminals_results">
                        <div class="col-md-6"><a href="/{{ lang }}/terminals" class="">Description</a></div>
                        <div class="col-md-2">1</div>
                        <div class="col-md-2">2</div>
                        <div class="col-md-2">3</div>
                    </div>
                </div>    
            </div>

            <!-- Routes -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6"><strong>Routes</strong></div>
                        <div class="col-md-2"><strong>Unfinished</strong></div>
                        <div class="col-md-2"><strong>Finished</strong></div>
                        <div class="col-md-2"><strong>All</strong></div>
                    </div>
                    <div class="row" id="routes_results">
                        <div class="col-md-6"><a href="/{{ lang }}/routes" class="">Description</a></div>
                        <div class="col-md-2">1</div>
                        <div class="col-md-2">2</div>
                        <div class="col-md-2">3</div>
                    </div>
                </div>    
            </div>   

            <!-- Chronograms -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6"><strong>Chronograms</strong></div>
                        <div class="col-md-2"><strong>Unfinished</strong></div>
                        <div class="col-md-2"><strong>Finished</strong></div>
                        <div class="col-md-2"><strong>All</strong></div>
                    </div>
                    <div class="row" id="chronograms_results">
                        <div class="col-md-6"><a href="/{{ lang }}/chronograms" class="">Description</a></div>
                        <div class="col-md-2">1</div>
                        <div class="col-md-2">2</div>
                        <div class="col-md-2">3</div>
                    </div>
                </div>    
            </div>

            <!-- Photos -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6"><strong>Photos</strong></div>
                        <div class="col-md-2"><strong>Unfinished</strong></div>
                        <div class="col-md-2"><strong>Finished</strong></div>
                        <div class="col-md-2"><strong>All</strong></div>
                    </div>
                    <div class="row" id="photos_results">
                        <div class="col-md-6"><a href="/{{ lang }}/photos" class="">Description</a></div>
                        <div class="col-md-2">1</div>
                        <div class="col-md-2">2</div>
                        <div class="col-md-2">3</div>
                    </div>
                </div>    
            </div>
        </div> <!-- /content -->
      
      
      
      
      
      
      
      
      
      
      
      <!--
      

      <h3>Three equal columns</h3>
      <p>Get three equal-width columns <strong>starting at desktops and scaling to large desktops</strong>. On mobile devices, tablets and below, the columns will automatically stack.</p>
      <div class="row">
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
        <div class="col-md-4">.col-md-4</div>
      </div>

      <h3>Three unequal columns</h3>
      <p>Get three columns <strong>starting at desktops and scaling to large desktops</strong> of various widths. Remember, grid columns should add up to twelve for a single horizontal block. More than that, and columns start stacking no matter the viewport.</p>
      <div class="row">
        <div class="col-md-3">.col-md-3</div>
        <div class="col-md-6">.col-md-6</div>
        <div class="col-md-3">.col-md-3</div>
      </div>

      <h3>Two columns</h3>
      <p>Get two columns <strong>starting at desktops and scaling to large desktops</strong>.</p>
      <div class="row">
        <div class="col-md-8">.col-md-8</div>
        <div class="col-md-4">.col-md-4</div>
      </div>

      <h3>Full width, single column</h3>
      <p class="text-warning">No grid classes are necessary for full-width elements.</p>

      <hr>

      <h3>Two columns with two nested columns</h3>
      <p>Per the documentation, nesting is easy—just put a row of columns within an existing column. This gives you two columns <strong>starting at desktops and scaling to large desktops</strong>, with another two (equal widths) within the larger column.</p>
      <p>At mobile device sizes, tablets and down, these columns and their nested columns will stack.</p>
      <div class="row">
        <div class="col-md-8">
          .col-md-8
          <div class="row">
            <div class="col-md-6">.col-md-6</div>
            <div class="col-md-6">.col-md-6</div>
          </div>
        </div>
        <div class="col-md-4">.col-md-4</div>
      </div>

      <hr>

      <h3>Mixed: mobile and desktop</h3>
      <p>The Bootstrap 3 grid system has four tiers of classes: xs (phones), sm (tablets), md (desktops), and lg (larger desktops). You can use nearly any combination of these classes to create more dynamic and flexible layouts.</p>
      <p>Each tier of classes scales up, meaning if you plan on setting the same widths for xs and sm, you only need to specify xs.</p>
      <div class="row">
        <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
      </div>
      <div class="row">
        <div class="col-xs-6">.col-xs-6</div>
        <div class="col-xs-6">.col-xs-6</div>
      </div>

      <hr>

      <h3>Mixed: mobile, tablet, and desktop</h3>
      <p></p>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-8">.col-xs-12 .col-sm-6 .col-lg-8</div>
        <div class="col-xs-6 col-lg-4">.col-xs-6 .col-lg-4</div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
        <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
      </div>

      <hr>

      <h3>Column clearing</h3>
      <p><a href="http://getbootstrap.com/css/#grid-responsive-resets">Clear floats</a> at specific breakpoints to prevent awkward wrapping with uneven content.</p>
      <div class="row">
        <div class="col-xs-6 col-sm-3">
          .col-xs-6 .col-sm-3
          <br>
          Resize your viewport or check it out on your phone for an example.
        </div>
        <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>


        <div class="clearfix visible-xs"></div>

        <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
        <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
      </div>

      <hr>

      <h3>Offset, push, and pull resets</h3>
      <p>Reset offsets, pushes, and pulls at specific breakpoints.</p>
      <div class="row">
        <div class="col-sm-5 col-md-6">.col-sm-5 .col-md-6</div>
        <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">.col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0</div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-6">.col-sm-6 .col-md-5 .col-lg-6</div>
        <div class="col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0">.col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0</div>
      </div>
    -->

        </div> <!-- /container -->

        <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
<script type="text/javascript">
jQuery(document).ready(function ($) {
    
    // default language
    var lang = 'es';
        
    var param = document.URL.split('/')[3];
    //console.log(param);
    
    if(param)
        lang = param           
    
    $('#lang').val(lang);
  
    $('#lang').on('change', function(e) {

        var lang = $('#lang').val()
        
        location.href='/'+lang;                
        
        e.preventDefault();
        e.stopPropagation();
    });
    
    // call stats method    
    getStats(lang);
});

function getStats(lang) {
    // get stats from API    
    console.log('[getStats][lang: '+lang+']');
    
    var url = 'http://localhost:3001/?p=stats';
    
    $.ajax({
        type: "GET",
        url: url,
        dataType: 'json',
        success: function (response) {
            console.log('[getStats][response:'+response+']');
            
            if(response.error) {
                console.log('[getStats][error:'+response.error+']');
            } else {
                console.log('[getStats][finished:'+response.data.finished+'][unfinished:'+response.data.unfinished+'][total:'+response.data.total+']');
            
                // We need to change JSON stats to get all sections
            
                // Finished
                $('#cities_results').children().eq(1).html(response.data.finished);
                
                // Unfinished
                $('#cities_results').children().eq(2).html(response.data.unfinished);
                
                // Total
                $('#cities_results').children().eq(3).html(response.data.total);

            }
        }
    });    
}
</script>    
