{% extends "base.html" %}

{% block title %}RouteAtlas Klingon Panel{% endblock %}

{% block content %}
    <div class="page-header">            
        <div class="row">
            <div class="col-md-8">
                <h1>Klingon Panel</h1>
                <p class="lead">Translation panel.</p>
            </div>
            <div class="col-md-4">
                <p class="text-right"> Language: 
                <select class="" id="lang">
                    <option value="es"> Spanish </option>
                    <option value="pt"}> Portuguese </option>
                </select>
                </p>
            </div>
        </div>            
    </div>
  
    <ul class="breadcrumb">
        <li class="active">Translation</li>
    </ul>
    
    <div id="content">  
        <!-- Cities -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"><strong>Cities</strong></div>
                    <div class="col-md-2"><strong>Unfinished</strong></div>
                    <div class="col-md-2"><strong>Finished</strong></div>
                    <div class="col-md-2"><strong>All</strong></div>
                </div>
                <div class="row" id="cities_results">
                    <div class="col-md-6"><a href="/{{ lang }}/cities" class="">Description</a></div>
                    <div class="col-md-2">1</div>
                    <div class="col-md-2">2</div>
                    <div class="col-md-2">3</div>
                </div>
            </div>    
        </div>

        <!-- Terminals -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"><strong>Terminals</strong></div>
                    <div class="col-md-2"><strong>Unfinished</strong></div>
                    <div class="col-md-2"><strong>Finished</strong></div>
                    <div class="col-md-2"><strong>All</strong></div>
                </div>
                <div class="row" id="terminals_results">
                    <div class="col-md-6"><a href="/{{ lang }}/terminals" class="">Description</a></div>
                    <div class="col-md-2">1</div>
                    <div class="col-md-2">2</div>
                    <div class="col-md-2">3</div>
                </div>
            </div>    
        </div>

        <!-- Routes -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"><strong>Routes</strong></div>
                    <div class="col-md-2"><strong>Unfinished</strong></div>
                    <div class="col-md-2"><strong>Finished</strong></div>
                    <div class="col-md-2"><strong>All</strong></div>
                </div>
                <div class="row" id="routes_results">
                    <div class="col-md-6"><a href="/{{ lang }}/routes" class="">Description</a></div>
                    <div class="col-md-2">1</div>
                    <div class="col-md-2">2</div>
                    <div class="col-md-2">3</div>
                </div>
            </div>    
        </div>   

        <!-- Chronograms -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"><strong>Chronograms</strong></div>
                    <div class="col-md-2"><strong>Unfinished</strong></div>
                    <div class="col-md-2"><strong>Finished</strong></div>
                    <div class="col-md-2"><strong>All</strong></div>
                </div>
                <div class="row" id="chronograms_results">
                    <div class="col-md-6"><a href="/{{ lang }}/chronograms" class="">Description</a></div>
                    <div class="col-md-2">1</div>
                    <div class="col-md-2">2</div>
                    <div class="col-md-2">3</div>
                </div>
            </div>    
        </div>

        <!-- Photos -->
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"><strong>Photos</strong></div>
                    <div class="col-md-2"><strong>Unfinished</strong></div>
                    <div class="col-md-2"><strong>Finished</strong></div>
                    <div class="col-md-2"><strong>All</strong></div>
                </div>
                <div class="row" id="photos_results">
                    <div class="col-md-6"><a href="/{{ lang }}/photos" class="">Description</a></div>
                    <div class="col-md-2">1</div>
                    <div class="col-md-2">2</div>
                    <div class="col-md-2">3</div>
                </div>
            </div>    
        </div>
    </div> <!-- /content -->


<script type="text/javascript">
jQuery(document).ready(function ($) {
    
    // default language
    var lang = 'es';
        
    var param = document.URL.split('/')[3];
    //console.log(param);
    
    if(param)
        lang = param           
    
    $('#lang').val(lang);
  
    $('#lang').on('change', function(e) {

        var lang = $('#lang').val()
        
        location.href='/'+lang;                
        
        e.preventDefault();
        e.stopPropagation();
    });
    
    // call stats method    
    getStats(lang);
});


 // Get stats from API  
function getStats(lang) {
     
    console.log('[getStats][lang: '+lang+']');
    
    var url = 'http://localhost:3001/?p=stats';
    
    $.ajax({
        type: "GET",
        url: url,
        dataType: 'json',
        success: function (response) {
            console.log('[getStats][response:'+response+']');
            
            if(response.error) {
                console.log('[getStats][error:'+response.error+']');
            } else {
                console.log('[getStats][finished:'+response.data.cities.finished+'][unfinished:'+response.data.cities.unfinished+'][total:'+response.data.cities.total+']');
            
                // We need to change JSON stats to get all sections
            
                // Finished
                $('#cities_results').children().eq(1).html(response.data.cities.finished);
                
                // Unfinished
                $('#cities_results').children().eq(2).html(response.data.cities.unfinished);
                
                // Total
                $('#cities_results').children().eq(3).html(response.data.cities.total);

            }
        }
    });    
}
</script>    
{% endblock %}
